//color variable
$paragraph-color: #777888;
$white-color: #fff;
$black-color: #2f3045;
$gradient-color: linear-gradient(90deg, #fc3b50, #fe514b, #ff6348, #ff7446, #ff8346);
$main-color: #fc3b50;
$optional-color: #ff8246;

//typo variable
$main-font-family: "Roboto", sans-serif;
$heading-font-family: "Jost", sans-serif;
$transition: all 0.3s ease-in-out;
